<!DOCTYPE html>
<html>

<head>
    <title>Annotate</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://goren.ml/cdn/daypilot-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>
    <style>
        #instruction {
            color: navy;
            font-size: 20px;
            font-family: arial;
            text-align: center;
        }
        .last_instruction {
            color: green
        }
        .scheduler_default_corner div:nth-of-type(2) {
            display: none !important;
        }
    </style>
</head>

<body>


    <div id="content">
        <div class="row"><div class="col-sm-12"><h1>{{data['title']}}</h1></div></div>
        <div class="row">
            <div class="col-sm-3">
                <a href="{{data['url']}}" target="_blank"><img src="{{data['photo_url']}}" width=200></a>
            </div>
            <div class="col-sm-5">
                <ul id="ul_ingredients"></ul>
                <input type="text" id="search_ingredients" placeholder="Add Missing Ingredients" autocomplete="off"
               class="form-control input-lg"/>
            </div>
            <div class="col-sm-4">
                <a href="https://youtu.be/WDjWlCV_clw" class="btn btn-info btn-lg" target="_blank">
                <span class="glyphicon glyphicon-facetime-video"></span> Watch Instructions
                </a><br /><br />
                <form method="POST" action="/save_annotation/{{id}}" id="mturk_form" name="mturk_form">
                <input type="hidden" name="id" id="frm_id" value="{{id}}">
                <input type="hidden" name="events" id="frm_events" value="[]">
                <div class="form-group">
                    <label for="frm_status">Status</label>
                    <select name="status" id="frm_status" class="form-control" onchange="status_updated()" onmousedown="status_updated()">
                    <option value="1">All OK</option>
                    <option value="0">All OK, not finished</option>
                    <option value="-1">Missing Tool</option>
                    <option value="-2">Missing Resource</option>
                    <option value="-3">Missing Ingredient</option>
                    <option value="-4">Redundant unused ingredient</option>
                    <option value="-5">Missing Time Boundry</option>
                    <option value="-6">Activity</option>
                    <option value="-10">Other issue</option>
                    </select>
                </div>
                <div class="form-group" style="display: none" id="frm_feedback_grp">
                    <label for="frm_feedback">Feedback</label>
                    <textarea name="feedback" id="frm_feedback" class="form-control"></textarea>
                </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"><h1 class="glyphicon glyphicon-backward" id="prev_instruction" onclick="prev_instruction();"></h1></div>
            <div class="col-sm-10" id="instruction">
                <h3>1/{{num_instructions}}</h3>{{data['instructions'][0]}}
            </div>
            <div class="col-sm-1"><h1 class="glyphicon glyphicon-forward" id="next_instruction" onclick="next_instruction();"></h1></div>
        </div>
        <div class="row"><div class="col-sm-12"></div></div>
        <div id="dp"></div>

    </div>
    <div class="modal" tabindex="-1" role="dialog" id="msgbox_dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"  id="msgbox_title"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row"><div class="col-sm-12" id="msgbox_body">
                </div></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="event_dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"  id="modal-instruction"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6" id="modal_body_ingredients"></div>
                    <div class="col-sm-3" id="modal_body_tools"></div>
                    <div class="col-sm-3" id="modal_body_activities"></div>
                </div>
            </div>
            <div class="modal-footer">
                <select id="instruction_length"></select>
                <button type="button" class="btn btn-primary" onclick="event_dialog_save()">Save changes</button>
                <button type="button" class="btn btn-secondary" onclick="event_dialog_clipboard()">From Clipboard</button>
                <button type="button" class="btn btn-secondary" onclick="event_dialog_clear()">Clear</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <script src="/js/annotate.js"></script>
    <script>
        var dp = new DayPilot.Scheduler("dp");


        dp.startDate = "2020-01-01";
        dp.days = 5;
        dp.scale = "Day";
        dp.cellWidth=150;
        dp.timeHeaders = [
            //{groupBy: "Month", format: "MMMM yyyy"},
            {groupBy: "Day", format: "d"}
            //{ groupBy: "Hour", format: "H" }
        ];

        dp.contextMenu = new DayPilot.Menu({
            items: [
                {
                    text: "Delete", onClick: function (args) {
                        if (dp.multiselect.events().length===0)
                        {
                            dp.events.remove(args.source);
                        }
                        else
                        {
                            truncate(args.source.data.resource, args.source.data.start);
                        }
                    }
                },
                {
                    text: "Cut", onClick: function (args) {
                        action_clipboard = dp.multiselect.events().map((x)=>x["data"]["action"]);
                        dp.multiselect.clear();
                        truncate(args.source.data.resource, args.source.data.start);
                    }
                },
                { text: "-" },
                {
                    text: "Paste", onClick: function (args) {
                        const selected_actions=dp.actions.filter(x => action_clipboard.filter((y)=>x.id == y).length>0);
                        add_events_by_action_id(action_clipboard, {
                            "start": args.source.data.start,
                            "end": args.source.data.end,
                            "resource": args.source.data.resource,
                        });
                    }
                },
                {
                    text: "Copy", onClick: function (args) {
                        action_clipboard = dp.multiselect.events().map((x)=>x["data"]["action"]);
                        dp.multiselect.clear();
                    }
                },
            ]
        });

        dp.treeEnabled = true;
        dp.treePreventParentUsage = true;
        dp.resources = {{resources|tojson|safe}};
        dp.actions = {{actions|tojson|safe}};

        dp.heightSpec = "Max";
        dp.height = 500;
        dp.allowMultiMove=true;
        dp.allowMultiResize=true;

        dp.events.list = {{data["labels"][0]|tojson|safe}};


        dp.eventMovingStartEndEnabled = false;
        dp.eventResizingStartEndEnabled = false;
        dp.timeRangeSelectingStartEndEnabled = false;

        dp.onEventMouseOver = onEventMouseOver;


        // event creating
        dp.onTimeRangeSelected = onTimeRangeSelected;

        dp.onEventClicked = onEventClicked;

        dp.onEventMoving = function(args) {
            args.allowed = dp.eventMovingStartEndEnabled;
        }

        expand_resources();
        dp.init();

        dp.scrollTo("2020-01-01");
        alert = console.log;
        let instruction_index=0;
        let instructions={{data['instructions']|tojson|safe}};
        let events={{data["labels"]|tojson|safe}};
        let action_clipboard=[];
        let selected_time_range={};

        // main ()
        document.addEventListener("DOMContentLoaded", function(event) {
            append_checkboxes("modal_body_ingredients", "Ingredients",{{data["normalized_ingredients"]|tojson|safe}});
            append_checkboxes("modal_body_tools", "Tools",{{tools|tojson|safe}});
            append_checkboxes("modal_body_activities", "Activities",{{activities|tojson|safe}});
            append_options("instruction_length", {{time_lengths|tojson|safe}});
            append_li("ul_ingredients", {{data['ingredients']|tojson|safe}});

            show_instruction();
            if (dp.events.list.length===0)
            {
                set_reference_time_range();
            }

            $('#search_ingredients').autocomplete({
                    source: {{ingredients_autocomplete|tojson|safe}},
                    minLength: 2,
                    select: function(event, ui) {
                        add_missing_ingredient(ui.item.value);
                    }
                }).data('ui-autocomplete')._renderItem = function (ul, item) {
                    return $("<li class='ui-autocomplete-row'></li>")
                        .data("item.autocomplete", item)
                        .append(item.label)
                        .appendTo(ul);
                };

            const submitButton = document.getElementById("submitButton");
            if (submitButton){
              submitButton.style.display = "none";
            }
        });

    </script>


</body>

</html>