<!DOCTYPE html>
<html>
<head>
    <title>Code</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/jquery.bootstrap-touchspin.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        #select_arg {
            width: 150px;
        }
        #select_resource {
            width: 150px;
        }
        #instruction {
            color: navy;
            font-size: 20px;
            font-family: arial;
            text-align: center;
        }
        .last_instruction {
            color: green
        }
        .bootstrap-touchspin .input-group-btn-vertical {
          position: absolute;
          right: 0;
          height: 100%;
          z-index: 11;
        }

        .bootstrap-touchspin .input-group-btn-vertical > .btn {
          position: absolute;
          right: 0;
          height: 50%;
          padding: 0;
          width: 2em;
          text-align: center;
          line-height: 1;
        }

        .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
          border-radius: 0 4px 0 0;
          top: 0;
        }

        .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
          border-radius: 0 0 4px 0;
          bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h1>{{title}}</h1>
            </div>
            <div class="col-sm-3">
                <br />
                <a href="https://youtu.be/HIcfNl6p3Ls" class="btn btn-info btn-lg" target="_blank">
                <span class="glyphicon glyphicon-facetime-video"></span> Watch Tutorial
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"><h1 class="glyphicon glyphicon-backward" id="prev_instruction" onclick="prev_instruction();"></h1></div>
            <div class="col-sm-10" id="instruction">
                <h3><span class="label label-info">1/{{num_instructions}}</span></h3>{{instructions[0]}}
            </div>
            <div class="col-sm-1"><h1 class="glyphicon glyphicon-forward" id="next_instruction" onclick="next_instruction();"></h1></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="text" id="search_ingredients" placeholder="Search Ingredients" autocomplete="off"
                       class="form-control input-lg"/>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Ingredient</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody id="ingredients_tbl">
                    </tbody>
                </table>
                <form method="post" action="/code/{{id}}" id="mturk_form" name="mturk_form">
                    <input type="hidden" name="id" id="{{id}}">
                    <input type="hidden" name="actions" id="frm_actions">
                    <input type="hidden" name="n_actions" id="frm_n_actions">
                    <input type="hidden" name="ingredients" id="frm_ingredients">
                    <input type="hidden" name="seconds_spent" id="frm_seconds_spent">
                    <input type="hidden" name="msgbox_count" id="frm_msgbox_count">
                </form>
            </div>
            <div class="col-md-9">
                <form class="form-inline">
                  <div class="form-group mb-2">
                    <label for="txt_ts" class="sr-only">Command</label>
                    <input type="text" id="txt_ts" class="form-control" size="1" value="1">
                  </div>
                  <div class="form-group mb-2">
                    <label for="select_command" class="sr-only">Command</label>
                    <select class="form-control" id="select_command" onchange="command_change()">
                    </select>
                  </div>
                  <div class="form-group mx-sm-3 mb-2">
                    <label for="select_arg" class="sr-only">Argument</label>
                    <select class="form-control" id="select_arg">
                    </select>
                  </div>
                  <div class="form-group mx-sm-3 mb-2">
                    <label for="select_resource" class="sr-only">Resource</label>
                    <select class="form-control" id="select_resource">
                    </select>
                  </div>
                  <button type="button" class="btn btn-primary mb-2" onclick="add_action()">Add</button>
                </form>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Command</th>
                        <th>Arg</th>
                        <th>Resource</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody id="actions_tbl">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="msgbox_dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header" style="background-color: #cceeff">
                <h3 class="modal-title"  id="msgbox_title"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row"><div class="col-sm-12" id="msgbox_body">
                </div></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let instruction_index= 0;
        const ingredients_autocomplete={{ingredients_autocomplete|tojson|safe}};
        const resources = {{resources|tojson|safe}};
        const commands = {{commands|tojson|safe}};
        const tools = {{tools|tojson|safe}};
        const time_lengths = {{time_lengths|tojson|safe}};
        const activities = {{activities|tojson|safe}};
        const instructions = {{instructions|tojson|safe}};
        let ingredients = {{ingredients|tojson|safe}};
        let actions= {{actions|tojson|safe}};
        let seconds_spent=instructions.map(x=>0);
        let msgbox_count=0;
        setInterval(()=>{seconds_spent[instruction_index]+=1;},1000);
    </script>
    <script src="/js/simulate.js"></script>
</body>
</html>
