<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Config Editor</title>
    <script>
        const isJSON = (x)=>{try {var y= JSON.parse(x); return true;} catch {return false;}};
        function verify() {
            const data = document.getElementById('data').value;
            const data_type = document.querySelector('input[name="data_type"]:checked').value;
            let valid = true;
            let error_msg="";
            if (!isJSON(data)) {
                valid=false;
                error_msg="Invalid JSON";
            }
            if (valid) {
                let prefix="";
                if (data_type === "activities")
                    prefix="M";
                if (data_type === "time_lengths")
                    prefix="L";
                if (data_type === "tools")
                    prefix="T";
                for (const key in JSON.parse(data)) {
                    if (!key.startsWith("T")) {
                        error_msg = key + "\n" + error_msg;
                        valid = false;
                    }
                }
                if ((!valid) && (prefix!==""))
                    error_msg += "Keys do not begin with the correct letter "+ prefix;
            }
            if (valid)
                document.forms[0].submit();
            else
                alert(error_msg);
        }
        function radio_change(t) {
            document.getElementById('data').value=data[t];
        }
        const data={{data|tojson|safe}};
    </script>
</head>
<body>
<form method="post" action="/edit">
    {%for t in data_types:%}
    <input type="radio" name="data_type" value="{{t}}" onchange="radio_change('{{t}}');">{{t}}</input>
    {%endfor%}
    <br />
    <textarea cols="80" rows="40" id="data" name="data"></textarea>
    <br />
    <input type="button" value="Save" onclick="verify()">
</form>

</body>
</html>