<!DOCTYPE html>
<html>

<head>
    <title>Recipe List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Action</th>
          <th scope="col">Arg</th>
          <th scope="col">Resource</th>
        </tr>
      </thead>
      <tbody>
      {%for row in table%}
        <tr>
          <th scope="row">{{row[0]}}</th>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
        </tr>
      {%endfor%}}
      </tbody>
    </table>

</body>
</html>